{{> header }}
    {{> navbar }}
              <div class="jumbotron">
                    <h1 class="display-4">Madrid = {{ madrid }}</h1>
                    <h1 class="display-4">Paris = {{ paris }}</h1>
                  </div>


{{> footer }}