{{> header }}
    {{> navbar }}
              <div class="jumbotron">
                    <h1 class="display-4">Madrid = {{ madrid }}°C ; Paris = {{ paris }}°C</h1>
                  </div>


{{> footer }}