{{> header }}
    {{> navbar }}
              <div class="jumbotron">
                    <h1 class="display-4">Quito = {{ quito }}°C  ;     Guayaquil = {{ guayaquil }}°C</h1>
                    
                  </div>


{{> footer }}
