{{> header }}
    {{> navbar }}
              <div class="jumbotron">
                    <h1 class="display-4">Quito = {{ quito }}</h1>
                    <h1 class="display-4">Guayaquil = {{ guayaquil }}</h1>
                  </div>


{{> footer }}
